.main-menu {
    padding-top: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu__links{
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.main-menu__link{
    text-decoration: none;
    color: rgb(24, 39, 36);
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    
}
