.main-menu {
    padding-top: 9%;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu__title{
    font-size: 45px;
    color: rgb(10, 10, 10);
    font-family: 'Inter';
    margin: 0;
}

.main-menu__links{
    margin-top: 105px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.main-menu__link-border{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 400px;
    font-size: 1.8rem;
    background: #aad4c8;
    letter-spacing: 0.1rem;
    box-shadow: 0px 0px 8px rgb(177, 177, 177);
    transform: scale(1);
    transition: all .2s;
}

.main-menu__link{
    text-decoration: none;
    color: rgb(24, 39, 36);
}

.main-menu__link-border:hover {
    background: #81bfaa;
    transform: scale(1.05);
}
