.calculte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.calculte__title{
    color: #2e3850;
    margin: 0;
}

.calculte__form{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 60px;
    padding-bottom: 120px;
}

.calculte__input{
    background-color: transparent;
    border: none;
    text-align: end;
    border: 1px solid rgb(166, 189, 190);
    border-radius: 4px;
    border-bottom: solid #727a8d 1px;
    outline: none;
    height: 40px;
    width: 410px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #2e3850;
}

.calculte__input:focus{
    border: 1px solid rgb(69, 183, 187);
    border-bottom: #3365d3 solid 2px;
    color: #2e3850;
}

.calculte__input_date{
    width: 414px;

}

.calculte__input:invalid{
    border-bottom: #882b2b solid 1px;
    color: #882b2b;
}

.calculate__label{
    display: flex;
    flex-direction: column;
    position: relative;
    /* display: none; */
}

.calculte__span{
    position: absolute;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    top: 13px;

    /* background-color: #ccdbe2; */
    /* padding-left: 4px; */
    /* padding-right: 4px; */

    left: 10px;
    color: #434e69;
    cursor: text;
    transition: .2s;
    /* display: none; */
}
.calculte__input:focus + .calculte__span {
    top: -10px;
    background-color: #ccdbe2;
    padding-left: 4px;
    padding-right: 4px;
}

.calculte__input-num{
    appearance: none;
    -moz-appearance:textfield;
}

.calculte__input-num::-webkit-outer-spin-button,
.calculte__input-num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculate__submit{
    background-color: #9ecee4;
    border: none;
    border: 1px solid #538399;
    height: 38px;
    color: #222c3f;
}