@import url(./vendors/normalize.css);
@import url(./vendors/fonts/inter.css);

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #e9cdb9, #a7d2e6);
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
  /* background-color: rgb(32, 28, 28); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
