.calculation{
    padding-top: 40px;
    padding-bottom: 40px;
}


.calculation__credit-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calculation__diagram{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
.calculation__circle-diagram{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.calculation__circle-diagram::after{
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 50;
    width: 50%;
    height: 50%;
    color: white;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.calculation__circle-diagram-pie{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
}

.calculation__circle-diagram-pie_paid{
    z-index: 10;
    background-color: #aaaaaa;
    transform: rotate(-20deg);
}

.calculation__circle-diagram-pie_left{
    z-index: 20;
    background-color: #0074d9;
    transform: rotate(160deg);
}

#ie {
    z-index: 30;
    background-color: #d11730;
    transform: rotate(20deg);;
} */



.pie{
    --p:95;
    --b:22px;
    --c:rgb(43, 180, 180);
    --w:150px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:25px;
    font-weight:400px;

}

.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}